body{
    background: #04429a;
}


.greeting{
    text-align: center;
    font-family: Roboto;
    
}

.search-bar{
    border-radius: 24px;
    padding: 10px;
    border: 1px solid;
    width: 400px;
    height: 40px;
    font-size: 16px;
}

.center-search-bar{
    text-align: center;
}

.grid{
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 250px 200px auto;
}

.grid-item1{
    text-align: center;
}