<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>MAT</h1>
        <div> 
            <h2>Hi, I AM MAT</h2>
            <img src ='static\wave.png ' width="100" height="100">
            <h4>Your Personal Assistant</h4>
        </div>

        <h2>About MAT</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Maecenas finibus rhoncus nisi, et tincidunt sapien posuere vel.
        Aenean commodo mattis urna nec hendrerit.
        Pellentesque nec magna et metus pretium viverra. 
        Maecenas venenatis porta erat, ut dictum ex. 
        Praesent eget magna vel nunc finibus tincidunt. 
        Curabitur pretium nibh in elit eleifend, vitae pulvinar justo molestie. 
        Fusce tincidunt consequat nisl, ac vestibulum justo aliquam ac. 
        Aenean aliquet molestie consectetur. 
        Donec mollis ut felis vel tempor. 
        Cras pulvinar nunc velit, condimentum dictum turpis elementum id. 
        Aliquam sed feugiat erat, at facilisis massa. 
        Praesent consequat porta orci at ultricies. 
        Sed eget suscipit ligula. 
        Donec bibendum, justo sit amet commodo placerat, turpis quam sodales magna, ut fermentum mi ligula at erat. 
        Etiam nisi nisi, consectetur non ipsum at, pharetra congue magna. 
        Nullam semper pulvinar ipsum.
        <br/>
        <br/>
        Cras convallis sem id eros maximus vestibulum.
        Sed nisl purus, mollis eget lectus in, ultricies consequat augue. 
        In metus nulla, porttitor nec semper vitae, vestibulum nec nisi. 
        Pellentesque sagittis ac enim at dictum. 
        Phasellus bibendum, nisl at mattis lacinia, tellus purus pharetra mauris, at accumsan lacus sem ac felis. 
        Aenean fermentum aliquet lorem. 
        Quisque odio lacus, bibendum nec ornare et, pretium non dui. 
        Nam et justo bibendum, maximus mauris nec, rutrum arcu. 
        Etiam elit neque, auctor eu massa nec, ultricies efficitur mauris. 
        Donec tincidunt leo at magna accumsan malesuada at vel lectus. 
        Duis in arcu et elit congue placerat. 
        Maecenas consequat metus non feugiat mollis. 
        Nullam faucibus hendrerit nulla. 
        Sed ut euismod justo, ut gravida leo. 
        Nunc a risus quis magna egestas egestas. 
        Nullam ac velit malesuada, tincidunt dolor eget, viverra velit.</p>

        <h2>Services</h2>
        <p>Show Services</p>
        <button>Get Started</button>
    </body>



</html>